.nav-bar {
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    align-items: center;
}
.nav-links li {
    display: inline-block;
    padding-right: 50px;
}
.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.nav-bar .logo {
    color: white;
    padding-left: 15px;
}
.products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
}
.card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    text-align: left;
}

.card-img img {
    width: 100%;
    height: 180px;
    border-radius: 8px;
}

.product-name {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.price-qty-row {
    display: flex;
    align-items: center;
    margin-top: 8px;
    font-size: 18px;
}

.qty-buttons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.qty-btn {
    width: 25px;
    height: 25px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    background-color: lightblue;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}


.subtotal {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.remove-btn {
    background-color:lightblue;
    color: white;
    width: 100%;
    padding: 8px;
    margin-top: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: lightblue;
}

.total {
    grid-column: span 5;
    font-size: 22px;
    text-align: left;
    font-weight: bold;
    margin-top: 20px;
}
