.nav-bar {
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    align-items: center;
}
.nav-links li {
    display: inline-block;
    padding-right: 50px;
}
.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.nav-bar .logo {
    color: white;
    padding-left: 15px;
}
.products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 8px;
}

.card-img img {
    width: 100%;
    height: 180px;
    border-radius: 6px;
}

.product-name {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.product-price {
    margin: 5px 0;
    font-size: 15px;
}

.remove-btn {
    background-color: aqua;
    color: white;
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}
.remove-btn:hover {
    background-color: aqua;
}
