.nav-bar{
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    align-items: center;
}
.nav-links li {
    display: inline-block;
    margin: 0;
    padding-right: 50px;

}
.nav-links li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.nav-bar .logo{
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding-left: 15px;
}
.search-bar{
    justify-content: center;
    display: flex;
}
.search-bar #searchInput{
    width: 1200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-top: 15px;
}
.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    background-color: white;
}

.card {
    width: 15%;
    background: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    margin: 20px;
}

.card-img img {
    width: 100%;
    height: 200px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.card-bttn {
    margin-top: 10px;
    width: 100%;
    gap: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.add-char , .add-fav{
    background-color: aqua;
    height: 30px;
}
